<div class="container">
  <form [formGroup]="registerForm" (ngSubmit)="handleRegister()" class="form">
    <app-form-input
      [controller]="registerForm.controls.userEmail"
      [label]="'Email'"
    ></app-form-input>
    <app-form-input
      [controller]="registerForm.controls.userFirstName"
      [label]="'First Name'"
    ></app-form-input>
    <app-form-input
      [controller]="registerForm.controls.userLastName"
      [label]="'Last Name'"
    ></app-form-input>
    <app-form-input
      [controller]="registerForm.controls.userHandle"
      [label]="'Account Handle'"
    ></app-form-input>
    <app-form-input
      [controller]="registerForm.controls.userPassword"
      [label]="'Password'"
    ></app-form-input>

    <button [disabled]="registerForm.invalid">Sign up</button>
  </form>
</div>
